@charset "UTF-8";

*{   /*Serando config de margin e padding*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html , body {
    height: 100vh;  /*ocupa 100 da altura da tela da página*/
    width: 100vw;  /*ocupa 100 da altura da tela da página*/
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
}


main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%; /*ocupa 50% top tela da página*/
    left: 50%; /*ocupa 50% doo lado esquerdo tela da página*/
    transform: translate(-50%, -50%);  /*para mudar a posisão correta no centro da tela com os -50 fica certo se nao colocar fica pra baixo descentralizado*/

    height: 627px;
    width: 309px;
    border-radius: 50px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}